USE [master]
GO
/****** Object:  Database [DB_SV]    Script Date: 24/06/2024 3:37:23 CH ******/
CREATE DATABASE [DB_SV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TANPHU\MSSQL\DATA\DB_SV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_SV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TANPHU\MSSQL\DATA\DB_SV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SV]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 24/06/2024 3:37:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MaHP] [int] NOT NULL,
	[MaHV] [int] NULL,
	[MaMH] [int] NULL,
	[Diem] [float] NULL,
	[HeSo] [int] NULL,
	[NamHoc] [int] NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAHOCVIEN]    Script Date: 24/06/2024 3:37:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAHOCVIEN](
	[MaHV] [int] NOT NULL,
	[TenHV] [varchar](255) NULL,
	[Lop] [varchar](3) NULL,
 CONSTRAINT [SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 24/06/2024 3:37:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [int] NOT NULL,
	[TenMH] [varchar](255) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_MAHV] FOREIGN KEY([MaHV])
REFERENCES [dbo].[MAHOCVIEN] ([MaHV])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_MAHV]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_MAMH] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_MAMH]
GO
USE [master]
GO
